* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-header {
    display: none;
    margin-bottom: 20px;
}

.contact-info ul {
    float: none;
}

.contact-info ul li {
    display: inline-block;
    line-height: 20px;
    margin: 0;
}

.contact-info ul,
.contact-info p,
.contact-info h3 {
    list-style-type: disc;
    text-align: right;
}


/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

.form-container {
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 23px 25px;
    margin: 3vh 5vw 3vh 3.5vw;
}

.contact-info {
    height: 200px;
    width: 100%;
}

#map {
    height: 300px;
    padding: 20px;
    margin: 3vh 5vw 3vh 52vw;
}

#map,
.form-container {
    width: 45%;
    position: absolute;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 15px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}