* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-header {
    display: none;
    margin-bottom: 20px;
}

body {
    background: #f1f1f1;
}

.contact-info ul {
    text-align: center;
    float: none;
    padding: 25px;
}

.contact-info ul li {
    display: inline-block;
    padding: 5px;
    margin: 8px;
}

.contact-info ul li a {
    color: white;
}

#map,
.form-container {
    width: 45%;
    position: absolute;
}


/* contact buttons */

.fb {
    background: #3b5998;
}

.mail {
    background: #2b0c64;
}

.phone {
    background: #0dad30;
}

.whatsApp {
    background: #26c518;
}


/* contact form  */

.form-container {
    border-radius: 7px;
    background-color: #dbdbdb;
    padding: 23px 25px;
    margin: 3vh 5vw 3vh 3.5vw;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 15px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}