.bcg-pic {
    background-image: url('../images/bcg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    /* background-attachment: fixed; */
}

.content-mid {
    display: none;
}

p {
    width: 50px;
}


/* 
.bcground-image {
    background-image: url(/images/bcg.jpg);
    background-color: ivory;
    background-size: 95em;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 5px;
    padding: 205px;
    filter: grayscale(10%);
    filter: blur(0.8px);
} */